<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
</head>
<body>
<div id="app">
    <user id="user" v-if="number_mini_game === -1" @user_login="login" @user_add="registration" :users="users" :buff_id="buff_id" :user_login="user_login"></user>
    <menu_mini_games v-if="number_mini_game === 0" :users="users" :buff_id="buff_id" :user_login="user_login"
                     @go_to_millionaire="millionaire"
                     @go_to_terms="terms"
                     @go_to_planets="planets"
                     @go_to_point="point"
                     @go_to_survey="survey"
                     @go_to_robot="robot"
                     @go_to_task="task"
                     @go_to_profile="profile"
                     @user_logout="logout">
    </menu_mini_games>
    <terms v-if="number_mini_game === 1" @go_to_menu="menu" :users="users" :buff_id="buff_id"></terms>
    <point v-if="number_mini_game === 2" @go_to_menu="menu":users="users" :buff_id="buff_id"></point>
    <millionaire v-if="number_mini_game === 3" @go_to_menu="menu" :users="users" :buff_id="buff_id"></millionaire>
    <planets v-if="number_mini_game === 4" @go_to_menu="menu" :users="users" :buff_id="buff_id"></planets>
    <survey v-if="number_mini_game === 5" @go_to_menu="menu" :users="users" :buff_id="buff_id"></survey>
    <robot v-if="number_mini_game === 6" @go_to_menu="menu" :users="users" :buff_id="buff_id"></robot>
    <task v-if="number_mini_game === 7" @go_to_menu="menu" :users="users" :buff_id="buff_id"></task>
    <profile v-if="number_mini_game === 8" @go_to_menu="menu" :users="users" :buff_id="buff_id"></profile>
</div>
</body>
</html>